/* Containers - Titles - Others */

.bday-container {
  background-color: pink;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bday-card {
  background-color: white;
  width: 88%;
  max-width: 390px;
  border-radius: 2em;
  padding: 2em;
  margin-bottom: 5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.bday-title {
  color: white;
  text-align: center;
  font-size: calc(1rem + 1vw);
  margin-top: 4em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  letter-spacing: 0.2rem;
}

.no-bdays {
  text-align: center;
  color: rgb(83, 79, 79);
  border-bottom: 1px solid rgb(214, 203, 203);
  padding-bottom: 0.3em;
}

.removed {
  text-align: center;
  color: rgb(83, 79, 79);
  padding-top: 0.3em;
}

.bday-count {
  text-align: center;
  color: rgb(83, 79, 79);
}

/* Birthday List - Birthday Item */

.bday-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid rgb(214, 203, 203);
}

.bday-image {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
}

.bday-name {
  position: absolute;
  top: 26px;
  left: 105px;
  font-size: 1rem;
  color: rgb(83, 79, 79);
}

.bday-age {
  position: absolute;
  top: 45px;
  left: 105px;
  font-size: 0.8rem;
  color: #628395;
}

.remove-btn {
  border-radius: 2em;
  border: none;
  color: white;
  font-size: 0.8rem;
  background-color: #3e437a;
  cursor: pointer;
  padding: 1em;

  &:hover {
    background-color: rgb(134, 6, 6);
  }
}

/* Media Queries */

@media screen and (max-width: 400px) {
  .bday-title {
    font-size: 1rem;
    margin-bottom: 3em;
  }

  .bday-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bday-name {
    position: static;
    margin-top: 0.6em;
  }

  .bday-age {
    position: static;
  }

  .remove-btn {
    margin-top: 1em;
    padding: 1em 3em;
  }
}
