/* Elements */

.close-btn {
  color: white;
  width: 2em;
  height: 2em;

  &:hover {
    color: rgb(221, 125, 125);
  }

  &:hover + .close-word {
    display: block;
  }
}

.close-word {
  display: none;
  color: white;
  margin-left: 0.2em;
  font-size: 1.5em;
  animation: textslide 0.1s ease-out;
}

.back-btn > * {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 40px;
  left: 40px;
}

/* Animations */

@keyframes textslide {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Media Queries */

@media screen and (max-width: 850px) {
  .back-btn > * {
    top: 20px;
    left: 20px;
  }

  .close-btn {
    width: 1.5em;
    height: 1.5em;
  }

  .close-word {
    margin-left: 0.2em;
    font-size: 1.4em;
    display: block;
  }
}

@media screen and (max-width: 420px) {
  .back-btn > * {
    top: 20px;
    left: 20px;
  }

  .close-btn {
    width: 1em;
    height: 1em;
  }

  .close-word {
    margin-left: 0.2em;
    font-size: 0.9em;
    display: block;
  }
}
